<main>
    <div class = "cart">
        <h2>Cart</h2>
        <% if @current_cart.order_items.any? %>
            <table>
                <thead>
                    <tr>
                        <th>Item</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <% @current_cart.order_items.each do |item| %>
                        <tr>
                            <td>
                                <%= image_tag item.product.image_1.url :thumb %>
                                <%= item.product.title %>
                            </td>
                            <td><%= item.product.price %></td>
                            <td><%= item.quantity %></td>
                            <td>
                                <%= link_to "Remove", product_order_item_path(item.product, item), method: :delete %>
                            </td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        <% else %>
            <p class="empty">Your cart is empty.</p>
        <% end %>
    </div>
</main>
